/* Common (common styles) */
body, input, textarea, select, button {
	font-family: $primary-font;
	font-weight: 400;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $primary-background;
	color: $body-s;
	font-size: 15px;
    line-height: 18px;
}
