.l-outer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.l-content-section-inside {
  min-height: 100vh;
  width: 996px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
